[submodule "lib/libft"]
	path = lib/libft
	url = https://github.com/gwolf-011235/libft.git
[submodule "doc/doxygen-awesome-css"]
	path = doc/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "lib/minilibx-linux"]
	path = lib/minilibx-linux
	url = https://github.com/42Paris/minilibx-linux.git
